{% extends "admin/change_list.html" %}
{% load static %}

{% block object-tools-items %}
{{ block.super }}
<li>
    <a href="../generate/taxpayer-csv/" class="button" style="background-color: #417690; color: white;">
        📊 Taxpayer CSV
    </a>
</li>
<li>
    <a href="../generate/taxpayer-excel/" class="button" style="background-color: #28a745; color: white;">
        📊 Taxpayer Excel
    </a>
</li>
<li>
    <a href="../generate/returns-csv/" class="button" style="background-color: #417690; color: white;">
        📈 Returns CSV
    </a>
</li>
<li>
    <a href="../generate/returns-excel/" class="button" style="background-color: #28a745; color: white;">
        📈 Returns Excel
    </a>
</li>
<li>
    <a href="../generate/compliance-csv/" class="button" style="background-color: #417690; color: white;">
        ✓ Compliance CSV
    </a>
</li>
<li>
    <a href="../generate/compliance-excel/" class="button" style="background-color: #28a745; color: white;">
        ✓ Compliance Excel
    </a>
</li>
{% endblock %}