{% extends "admin/login.html" %}
{% load i18n %}

{% block content %}
<div class="login-box">
  <h1>{{ site_header|default:_("RRCO/GST Mongar Administration") }}</h1>
  <p>{{ site_header|default:_("Please enter the correct username and password for a staff account. Note that both fields may be case-sensitive.") }}</p>
  
  <form method="post" action="{% url 'admin:login' %}">
    {% csrf_token %}
    <div class="form-row">
      <label for="id_username">{{_('Username:') }}</label>
      <input type="text" name="username" id="id_username" autofocus placeholder="Username">
    </div>
    <div class="form-row">
      <label for="id_password">{{_('Password:') }}</label>
      <input type="password" name="password" id="id_password" placeholder="Password">
    </div>
    <input type="submit" value="{% translate 'Log in' %}" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
</div>
{% endblock %}